
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&display=swap');


body {
  margin: 0;
  font-family: 'Raleway', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #171637;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.carousel-dots {
  position: absolute;
  bottom: 0;
  z-index: 999;
}

.carousel-dots li button:before {
  color: white !important;
}

.carousel, .carousel-initialized, .carousel-track, .carousel-item, .carousel-row, .img-container {
  height: 100% !important;
  width: 100% !important;
}

.content {
  padding: 0 4%;
  min-height: calc( 100vh - 75px );
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #171637;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
.about-me {
  flex-flow: row wrap;
}

@media only screen and (max-width: 794px) {
  .about-me {
    flex-flow: column;
  }
}